package AdminPage

import "github.com/Sri2103/services/internal/ui/views/layout"
import "github.com/Sri2103/services/internal/ui/views/components"


templ Home(){
    @layouts.BaseLayout(){
        @components.AdminNavBar()
    }
}