package layouts

templ BaseLayout() {
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<link href="/static/css/output.css" rel="stylesheet"/>
		</head>
		<body>
			{ children... }
			<div id="alertPlace"></div>
			<script src="/dist/main.js"></script>
		</body>
	</html>
}
