package page 

import "github.com/Sri2103/services/internal/ui/views/user"
import "github.com/Sri2103/services/internal/ui/views/layout"

templ Register() {
	@layouts.BaseLayout() {
		@user.RegisterPage(user.USER)
	}
}
