package page

import "github.com/Sri2103/services/internal/ui/views/layout"
import "github.com/Sri2103/services/internal/ui/views/components"
import "github.com/Sri2103/services/internal/ui/views/user"

templ UserSettings(){
	@layouts.BaseLayout() {
		@components.NavBar()
        @user.UserSettings()
	}
}
